<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="VanillaTrades" value="C:\Impendium\ImpendiumTFS\TestAutomation\SeleniumTest\3rdPartyLibs\SampleFileGenerator\DefaultValuesTemplates\VanillaTrades_Defaults.xml"/>
    <add key="VanillaTradesDelegation" value="C:\Impendium\ImpendiumTFS\TestAutomation\SeleniumTest\3rdPartyLibs\SampleFileGenerator\DefaultValuesTemplates\VanillaTradesDelegation_Defaults.xml"/>
    <add key="VanillaPositions" value="C:\Impendium\ImpendiumTFS\TestAutomation\SeleniumTest\3rdPartyLibs\SampleFileGenerator\DefaultValuesTemplates\VanillaPositions_Defaults.xml"/>
    <add key="CommodityOptions" value="C:\Impendium\ImpendiumTFS\TestAutomation\SeleniumTest\3rdPartyLibs\SampleFileGenerator\DefaultValuesTemplates\CommodityOptions_Defaults.xml"/>
    <add key="CurrencyOptions" value="C:\Impendium\ImpendiumTFS\TestAutomation\SeleniumTest\3rdPartyLibs\SampleFileGenerator\DefaultValuesTemplates\CurrencyOptions_Defaults.xml"/>
    <add key="InterestRateOptions" value="C:\Impendium\ImpendiumTFS\TestAutomation\SeleniumTest\3rdPartyLibs\SampleFileGenerator\DefaultValuesTemplates\InterestRateOptions_Defaults.xml"/>
    <add key="Futures" value="C:\Impendium\ImpendiumTFS\TestAutomation\SeleniumTest\3rdPartyLibs\SampleFileGenerator\DefaultValuesTemplates\Futures_Defaults.xml"/>
    <add key="MifidOptions" value="C:\Impendium\ImpendiumTFS\TestAutomation\SeleniumTest\3rdPartyLibs\SampleFileGenerator\DefaultValuesTemplates\MifidOptions_Defaults.xml"/>
  </appSettings>
</configuration>
